/** Inicio Carrito **/
.checkout-page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(132, 97, 134), rgb(152, 59, 168));
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.contenido-carrito{
    margin: 0 300px;
  }

  .formFinalizarCompra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: flex-start;
  }
  
  .datos-comprador{
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid black;
    padding: 20px;
  }
  .datos-comprador input{
    width: 90%;
  
  }
  
  .carro {
    width: 60%;
    font-family: Arial, sans-serif;
   
  }
  
  .productos{
    border: 2px solid black;
    padding: 10px;
    overflow: hidden;
  }
  
  .producto-en-carrito {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .producto-en-carrito h3 {
    margin-top: 0;
  }
  
  .cantidad-input {
    width: 60px;
    text-align: center;
    margin-right: 10px;
  }
  
  .total-producto {
    font-weight: bold;
  }
  
  .total {
    margin-top: 20px;
    font-size: 18px;
    text-align: right;
  }
  
  /* Para el diseño de la tabla de resumen de productos */
  .tabla-resumen {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .tabla-resumen th, .tabla-resumen td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .tabla-resumen th {
    background-color: #f2f2f2;
  }
  
  .tabla-resumen ul li{
    list-style: none;
  }
  
  /* Estilos para la fila del total general */
  .total-container {
      font-size: 18px;
      border: 2px solid black;
      width: 200px;
      text-align: right;
      float: right;
  }
  .total-item {
    margin-top: 10px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding: 0 5px;
  }
  
  .total-container button{
    width: 100%;
    border-radius: 0;
  }
  
  
  /** Fin Carrito **/