main {
    background-image: linear-gradient(rgb(248, 190, 250), rgb(113, 17, 130));
    min-height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .main .contenido {
    margin: 0px 450px;
    padding-bottom: 15px;
  }
  .main .contenido .novedades {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .main .contenido .novedades p {
    text-align: justify;
  }
  .main .contenido .novedades span {
    font-weight: bold;
  }
  @media (max-width: 1200px) {
    .main .contenido .novedades {
      margin: 0px;
    }
    .main .contenido .novedades p {
      height: 200px;
      overflow: auto;
      margin: 0px;
      padding: 20px;
    }
  }
  @media (max-width: 915px) and (orientation: landscape) {
    .main .contenido .novedades .novedades p {
      height: 150px;
      overflow: auto;
    }
  }
  .main .contenido .principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1201px) and (max-width: 1800px) {
    .main .contenido {
      margin: 0px 2vw;
    }
    .main .novedades p {
      padding: 0px 8vw;
    }
  }
  @media (max-width: 1200px) {
    .main .contenido {
      margin: 0px 4vw;
    }
  }
  
  .header {
    margin-top: 122px;
  }
  .header .slider h2 {
    font-size: 34px;
    font-family: "New Rocker", cursive;
    text-shadow: 0px 0px 10px white;
  }
  @media (max-width: 1200px) {
    .header .slider p {
      display: none;
    }
    .header .slider h1, .header .slider h5 {
      font-size: 30px;
    }
  }
  @media (max-width: 915px) and (orientation: landscape) {
    .header {
      margin-top: 90px;
    }
  }
  
  .titulo__formato {
    text-align: center;
    margin: 30px 0px;
    font-size: 34px;
    font-style: italic;
    font-family: "New Rocker", cursive;
    text-shadow: 0px 1px 5px #FFFFFF;
  }
  .titulo__formato .salto_linea {
    display: none;
  }
  @media (max-width: 557px) {
    .titulo__formato .salto_linea {
      display: block;
    }
  }